@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}


.score-card {
  background-color: #e9f0e9;
  color: #4cb050;
}
.score-card.master {
  background-color: rgba(134, 104, 252, 0.1);
  color: #0a070a;
}
.score-card.grand-master {
   background-color: rgba(255, 73, 122, 0.1);
   color: #0a070a;
}
.score-card.a {
  background-color: rgba(140, 195, 75, 0.1);
  color: #8cc34b;
}
.score-card.b-plus {
  background-color: rgba(197, 211, 52, 0.1);
  color: #c5d334;
}
.score-card.b {
  background-color: rgba(218, 202, 49, 0.1);
  color: #daca31;
}
.score-card.c-plus {
  background-color: rgba(255, 194, 8, 0.1);
  color: #ffc208;
}
.score-card.c {
  background-color: rgba(255, 152, 1, 0.1);
  color: #ff9801;
}
.score-card.d {
  background-color: rgba(254, 87, 34, 0.1);
  color: #fe5722;
}
.score-card.none {
  background-color: rgba(167, 167, 167, 0.1);
  color: #a7a7a7;
}
.score-card.grad {
  background-color: rgba(162, 88, 167, 0.1);
  color: #a258a7;
}
.score-card.graduate {
  background-color: rgba(162, 88, 167, 0.1);
  color: #15062d;
}
.score-card.novice {
  background-color: rgba(235, 167, 218, 0.1);
  color: #0a070a;
}
.score-card.legend {
  background-color: #f9f6f9;
  color: #0a070a;
}
.score-card.a-plus {
  background-color: rgba(76, 176, 80, 0.1);
}

.rank-badge.legend {
  background-color: #f9f6f9;
  color: #0a070a;
}
.rank-badge.master {
  background-color: rgba(134, 104, 252, 0.1);
  color: #8668fc;
  border-color: rgba(134, 104, 252, 0.2);
}
.rank-badge.grand-master {
  background-color: rgba(255, 73, 122, 0.1);
  border-color: rgba(255, 73, 122, 0.3);
  color: #ff497a;
}
.rank-badge.graduate {
  border-color: rgba(162, 88, 167, 0.2);
  background-color: rgba(162, 88, 167, 0.1);
  color: #a258a7;
}
.rank-badge.novice {
  border-color: rgba(235, 167, 218, 0.2);
  background-color: rgba(235, 167, 218, 0.1);
  color: #d882c2;
}

/* Table with sticky header doesn't support border-bottom */
.sticky-border-bottom:after {
  display: block;
  position: absolute;
  top: 100%; left: 0;
  right: 0;
  content: '';
  height: 1px;
  background: rgb(203, 213, 244);
}
